In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Database.csv')

In [4]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,Store,Brand,Material,Volume (L),Value (Euros)
1,NaN,Penny,Lichtenauer Fresh n Fruit,Plastic,"1,5","0,25"
2,NaN,Penny,Bullit Energy Drink Original,Plastic,"0,5","0,25"
3,NaN,Penny,Bullit Energy Drink Original,Plastic,"1,5","0,25"
4,NaN,Penny,Bullit Energy Drink GrapeFruit,Plastic,1,"0,25"
...,...,...,...,...,...,...
479,NaN,Aldi,Rio D Oro Smoothie Plus,Plastic,"0,25","0,25"
480,NaN,Aldi,Paulaner Spezi,Aluminium,"0,33","0,25"
481,NaN,Aldi,Coca Cola Zero,Aluminium,"0,33","0,25"
482,NaN,Aldi,Coca Cola,Aluminium,"0,33","0,25"
483,NaN,Aldi,Ileburger Brause Himbeer,Plastic,"1,5","0,25"

In [5]:
df.drop(columns='Unnamed: 0', inplace=True)

In [6]:
df.columns = [ 'Store', 'Brand', 'Material', 'Volume', 'Value']

In [20]:
data = df.to_json('./export.json', orient='table', index=False)

In [21]:
print(data)

None